module merged 1.0;

require {
    type cgroup_t;
    type nsfs_t;
    type sshd_session_t;
    type sshd_t;
    type systemd_machined_var_lib_t;
    type systemd_mountfsd_t;
    type systemd_nsresourced_runtime_t;
    type systemd_nsresourced_t;
    type unlabeled_t;

    class capability { chown dac_override dac_read_search fowner setgid setuid sys_admin };
    class cap_userns { net_admin sys_admin sys_ptrace };
    class dir { add_name create getattr ioctl open read remove_name rename search setattr write };
    class file { create getattr ioctl link lock open read rename setattr unlink write };
    class netlink_route_socket nlmsg_write;
    class process signal;
    class user_namespace create;
}

#============= sshd_session_t ==============
allow sshd_session_t sshd_t:process signal;

#============= systemd_mountfsd_t ==============
allow systemd_mountfsd_t nsfs_t:file { ioctl open read };
allow systemd_mountfsd_t self:cap_userns { sys_admin sys_ptrace };
allow systemd_mountfsd_t self:capability { chown dac_override dac_read_search setgid setuid sys_admin };
allow systemd_mountfsd_t self:user_namespace create;
allow systemd_mountfsd_t systemd_machined_var_lib_t:dir { getattr ioctl search };
allow systemd_mountfsd_t unlabeled_t:dir { add_name create getattr open read remove_name rename search setattr write };

#============= systemd_nsresourced_t ==============
allow systemd_nsresourced_t cgroup_t:dir { read setattr };
allow systemd_nsresourced_t cgroup_t:file setattr;
allow systemd_nsresourced_t nsfs_t:file { ioctl open read };
allow systemd_nsresourced_t self:cap_userns { net_admin sys_admin };
allow systemd_nsresourced_t self:capability { chown dac_read_search fowner setgid setuid };
allow systemd_nsresourced_t self:netlink_route_socket nlmsg_write;
allow systemd_nsresourced_t systemd_machined_var_lib_t:dir { getattr ioctl };
allow systemd_nsresourced_t systemd_nsresourced_runtime_t:file { create getattr link lock open read rename setattr unlink write };
allow systemd_nsresourced_t unlabeled_t:dir { getattr ioctl };
